body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table thead tr th {
    border-bottom: none;
}

.w50 {
    width: 50%;
}

.table-striped {
    background-color: azure;
}

.wrapper {
    display: flex;
}

.inverse {
    background-color: #b9e1e1 !important;
    border: 1px solid #b1cbcc;
}

    .inverse tr, .inverse thead {
        border: 1px solid #b1cbcc;
    }

.vehicles-table {
    width:100%;
}

.back-button {
    display: inline-block;
    border: 1px solid #000;
    width: 20px;
    height: 20px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    vertical-align: top;
}

.text-right.back {
    vertical-align: top;
}

.header .shopping-cart {
    width: calc(15% - 20%);
    float: right;
    height: 50px;
    display: inline-block;
}

.header .shopping-cart .cart-button {
    float: right;
    vertical-align: middle;
    font-size: 30px;
    margin: 10px;
}

.header .site-title {
    text-align: center;
}

i {
    font-family: FontAwesome;
}

.cart-button  {
    display: flex;
    align-items: center;
    cursor:pointer;
}

.hided {
    display: none;
}